
body{
    background: white url("images/background.png");
}

.navbar{
    border-radius: 0;
}

.navbar-brand{
    font-family: "Pacifico", cursive;
}

.container{
    background:  white;
    border-radius: 10px;
}